
<!DOCTYPE html>
<html lang="zh-CN" ng-app>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="renderer" content="webkit">
<meta name="keywords" content="迅雷,会员账号,迅雷会员账号,迅雷vip白金账号,更新迅雷会员账号分享_分享迅雷vip白金账号_迅雷VIP会员账号密码">
<meta name="description" content="迅雷,会员账号,迅雷会员账号,迅雷vip白金账号,更新迅雷会员账号分享_分享迅雷vip白金账号_迅雷VIP会员账号密码">
<title>迅雷vip账号</title>

<link href="http://cdn.bootcss.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<!-- <link href="{{ STATIC_URL }}/static/css/main.css" rel="stylesheet"> -->
<style type="text/css">
.account-info .row {
  margin-bottom: 10px;
}
</style>
</head>
<body>
<div class="navbar navbar-default">
    <div class="container-fluid top-navbar">
        <div class="navbar-header">
            <a href="#" class="navbar-brand">迅雷vip账号</a>
        </div>
    </div>
</div>
<div class="container account-info" ng-controller="AccountListCtrl">
    <div class="row" ng-repeat="account in accounts">
        <div class="row col-xs-12 col-sm-6">
            <div class="col-xs-3">账号:</div>
            <div class="col-xs-5" ng-bind="account.name"></div>
            <div class="col-xs-4"><button type="button" class="btn btn-info btn-xs" ng-click="copy($event.target)">复制账号</button></div>
        </div>
        <div class="row col-xs-12 col-sm-6">
            <div class="col-xs-3">密码:</div>
            <div class="col-xs-5" ng-bind="account.pwd"></div>
            <div class="col-xs-4"><button type="button" class="btn btn-info btn-xs" ng-click="copy($event.target)">复制密码</button></div>
        </div>
        
    </div>
    <div class="row"><button class="btn col-xs-offset-6 btn-primary btn-lg" ng-click="change()">换一波</button></div>
</div>

<script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="http://apps.bdimg.com/libs/angular.js/1.2.16/angular.min.js"></script>
<!-- <script src="{{ STATIC_URL }}/static/js/main.js"></script> -->

<script type="text/javascript">
function AccountListCtrl($scope, $http) {

    $scope.change = function () {
        getAccounts();
    };

    $scope.copy = function (target) {
        alert('复制成功');
    };

    function getAccounts() {
        $http({
            method: 'POST',
            url: '/1/'
        }).success(function(response, status, headers, config){
            console.log(response);
            $scope.accounts = response.accounts;
        });
    }
    getAccounts();

    function random(n) {
        var ret = '';
        for (var i = 0; i < n; i++) {
            ret += randomArr[parseInt(Math.random() * 62)];
        }
        return ret;
    }

}
</script>

</body>
</html>